
@{
    ViewBag.Title = "Index";
    int i = 0;
}
@model IEnumerable<MobyDick.Web.Models.BookViewModel>
<h3 style="color:cadetblue;margin-top:20px;">Moby Dick isimli kitapta en çok kullanılan 10 kelime</h3>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kelime</th>
            <th scope="col">Kullanım Sayısı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <th scope="row">@i</th>
                <td>@item.word</td>
                <td>@item.count</td>
            </tr>
        }

    </tbody>
</table>

